

.qs{
    cursor: pointer;
    display: none;
    position: absolute;
    /* display: flex; */
    text-align: center;
    box-shadow: 1px 1px 5px lime;
    border-radius: 10px;
    font-size: 3.5em;
    font-weight: bolder;
    color: white;
    height: 70px;
    width: 70px;
    background-color: #05bc57;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/*  table styling */
.part3_table_one{
    display: none;
    /* display: flex; */
    flex-direction: row;
    bottom: 0px;
    position: absolute;
    text-align: center;
    left: 30px;
    gap: 20px;
}
.part3_table_one table{
    height: 200px;
    width: 180px;
}
.part3_table_one table thead tr th{
    width: 70px;
    padding: 5px 0;
}
.part3_table_one table tbody tr,td{
    height: 10px!important;
}
.part3_table_one table{
    border-collapse: collapse;
}

.part3_table_one td,tr,th,td{
    font-size: 1.05em;
    border: 1px solid black;
    font-weight: bold;
}
.part3_table_one table thead tr th{
    background-color: #c55a11;
}

/* Color change different */
.part3_table_one table th{
    font-family: "Cambria Math", Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #c55a11;
    color: white;
}
.part3_table_one table td:nth-child(1){
    background-color: #d9d9d9;
}

.part3_table_one table .table-title{
}
.part3_table_one table:nth-child(1) .table-title{
    background-color: red;
    /* border: 5px ridge red; */
    box-shadow: inset 2px 2px 5px 1px black;
}
.part3_table_one table:nth-child(2) .table-title{
    background-color: #05bc57;
    /* border: 5px ridge blue; */
    box-shadow: inset 2px 2px 5px 1px black;
}
.part3_table_one table:nth-child(3) .table-title{
    background-color: blue;
    /* border: 5px ridge #05bc57; */
    box-shadow: inset 2px 2px 5px 1px black;
}


.part3_table_one tbody tr td{
    height: 24px!important;
    width: 10px!important;
}

/* part3 second table */
.part3_table_two{
    /* display: flex; */
    display: none;
    bottom: 0px;
    position: absolute;
    text-align: center;
    left: 30px;
    gap: 20px;
}
.part3_table_two table{
    height: 200px;
}
.part3_table_two table thead tr th{
    width: 70px;
    padding: 5px;
}
.part3_table_two table tbody tr,td{
    height: 10px!important;
}
.part3_table_two table{
    border-collapse: collapse;
}

.part3_table_two td,tr,th,td{
    font-size: 1.05em;
    border: 1px solid black;
    font-weight: bold;
}
.part3_table_two table thead tr th{
    background-color: #c55a11;
}

/* Adding slider of table */
.part3_table_two .table-slider{
    position: relative;
    z-index: 2000;
    background-color: red;
    color: white;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 2px 2px 1px black;
}
.part3_table_two .table-slider .labels{
    display: flex;
    justify-content: center;
    gap: 20px;
    position: absolute;
    font-size: 15px;
    top: 7px;
    left: 49px;
    color: white;
    font-weight: bolder!important;
}
.part3_table_two .table-slider .lines{
    display: flex;
    position: absolute;
    color: black;
    font-weight: bolder;
    font-size: 10px;
    gap: 49px;
    left: 63px;
    top: 25px;
}
.part3_table_two .table-slider .table-slider-box{
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    color: white;
}
.part3_table_two .table-slider .table-slider-box .title{
    /* background-color: white;
    color: red;
    padding: 1px 4px;
    border-radius: 5px; */
    position: relative;
    top: -3px;
}
.part3_table_two .table-slider .table-slider-box input[type=range]{
    /* width: 180px; */
    position: relative;
    top: 13px;
}


/* Color change different */
.part3_table_two table th{
    background-color: #c55a11;
    color: white;
}
.part3_table_two table td:nth-child(1){
    background-color: #d9d9d9;
}

/* part3  table */
.part3_table_three{
    width: 560px;
    display: none;
    bottom: 0px;
    position: absolute;
    text-align: center;
    gap: 20px;
    border-collapse: collapse;
}
.part3_table_three td,tr,th{
    border: 1px solid black;
    font-size: 15px;
}
.part3_table_three thead{
    font-family: "Cambria Math", Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #cc00ff;
    text-shadow: 0.5px 0.8px black;
    /* font-style: italic; */
    color: white;
}
.part3_table_three thead tr th{
    padding: 7px 4px;
    width: 68px;
    font-size: 14px;
    letter-spacing: 1px;
}
.part3_table_three tbody tr{
    height: 26px;
}
.part3_table_three td{
    text-align: center;
    font-weight: bold;
}
.part3_table_three tbody tr:nth-child(1){
    background-color: rgb(194, 194, 194);
}
.part3_table_three tbody tr:nth-child(3){
    background-color: rgb(194, 194, 194);
}
.part3_table_three tbody tr:nth-child(5){
    background-color: rgb(194, 194, 194);
}
.part3_table_three tbody tr:nth-child(7){
    background-color: rgb(194, 194, 194);
}

/* .part3_table_three td:nth-child(3){
    background-color: rgb(194, 194, 194);
}
.part3_table_three td:nth-child(4){
    background-color: rgb(194, 194, 194);
} */
/* .part3_table_three td:nth-child(10){
    background-color: #ffff00;
}
.part3_table_three td:nth-child(11){
    background-color: #ffc000;
} */
.part3_table_three td:nth-child(12){
    display: none;
}
.part3_table_three_two th{
    font-size: 11px!important;
    padding: 5px 1px!important;
}
.part3_table_three_two{
    bottom: -12px;
}
.part3_table_three_two thead{
    font-family: "Cambria Math", Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: red;
    color: white;
}
/* table four */
.part3_table_four{
    display: none;
    bottom: 0px;
    position: absolute;
    left: 205px;
    text-align: center;
    gap: 20px;
    border-collapse: collapse;
}
.part3_table_four td,tr,th{
    border: 1px solid black;
}
.part3_table_four thead{
    background-color: #0579cc;
    color: white;
}
.part3_table_four thead tr th{
    width: 64px;
}
.part3_table_four tbody tr{
    height: 30px;
}
.part3_table_four td{
    text-align: center;
    font-weight: bold;
}

/* part 4 two */
/* table four */
.part3_table_four_2{
    display: none;
    top: 160px;
    position: absolute;
    left: 205px;
    text-align: center;
    border-collapse: collapse;
}
.part3_table_four_2 td,tr,th{
    border: 1px solid black;
}
.part3_table_four_2 thead{
    background-color: #0579cc;
    color: white;
}
.part3_table_four_2 thead tr th{
    width: 140px;
}
.part3_table_four_2 tbody tr{
    height: 40px;
}
.part3_table_four_2 td{
    text-align: center;
    font-weight: bolder;
}

.part3_table_four_2 tbody tr:nth-child(1){
    color: #ff0505!important;
}
.part3_table_four_2 tbody tr:nth-child(2){
    color: #0909ff!important;
}
.part3_table_four_2 tbody tr:nth-child(3){
    color: #05833d!important;
}
.deactive{
    pointer-events: none;
    cursor:not-allowed;
    user-select: none;
    opacity: 0.5;
    box-shadow: none!important;
}

.graph_box{
    display: none;
    padding: 0 0 22px 22px;
    width: 368px;
    height: 295px;
    position: absolute;
    right: 5px;
    top: 60px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 4px;    
}

.graph{
    /* background-color: white; */
    padding: 5px;
    /* background-color: #202020; */
    display: none;
}

/* ! Next Btn Deactive class */
.btn-deactive{
    transition: 1s;
    opacity: 0.7!important;
    cursor: not-allowed;
    background-color: rgb(97, 97, 97)!important;
    box-shadow: none;
    color: black;
}

.btn-deactive:hover {
    box-shadow: none!important;
}

.btn-deactive:active{
    opacity: none!important;
    transform: none!important;
}

/* * Part 3 table two btns */
.btn-box1 button{
    background-color: #0000ff;
}

.btn-box2 button{
    background-color: #d26315; 
}
.btn-box3 button{
    background-color: #5d8c3b;
}

.table-btn{
    color: white;
    position: relative;
    width: 31.5%;
    padding: 5px;
    font-size: 1.2em;
    font-weight: bold;
    z-index: 1000;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid black
}
.table-btn:hover{
    border-color: white;
    transition: 0.2s;
}
.table-btn:active{
    transition: 0s;
    border-color: black;
    background-color: black;
}

/* ! Delte reset */
.btn-delete{
    background-color: #ff0505!important;
    color: white;
    font-weight: bold;
    display: none;
    z-index: 1000;
    position: absolute;
    /* top: 360px;
    left: 10px;  */
    
}

.btn-reset{
    background-color: #0579cc!important;
    color: white;
    font-weight: bold;
    display: none;
    z-index: 1000;
    position: absolute;
    /* top: 360px;
    left: 120px;  */
    
}

/* ! check connection and circuit diagram btn */
.btn-check-connections{
    background-color: #d26315!important;
    color: white;
    font-weight: bold;
    display: none;
    z-index: 1000;
    position: absolute;
}

.btn-circuit-diagram{
    background-color: #7937aa;
    color: white;
    font-weight: bold;
    display: none;
    z-index: 1000;
    position: absolute;
}




.bg-black{
    background-color: black!important;
}

/* Record btn */
.btn-record:hover{
    opacity: 0.9!important;
    transform: scale(1.03)!important;
}
.btn-record:active{
    opacity: 0.9!important;
    transform: scale(0.99)!important;
}

.theory{
    height: 495px;
    width: 950px;
    top: -46px;
    left: 0;
    z-index: 1001;
}


.btn-transparent {
    display: block;
    position: absolute;
    width: 92px;
    height: 35px;
    bottom: -95px;
    right: -3px;
    border-radius: 8px;
    font-weight: bolder;
    z-index: 6000;
  }
  
  
  .btn-transparent:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(4px, 4px);
  }

  .btn-disabled{
    color: gray;
    box-shadow: none;
    background-color: #f1f2f4;
    user-select: none;
    cursor: not-allowed;
    /* pointer-events: none; */
  }
  .btn-disabled:active{
    opacity: none!important;
    transform: none!important;
  }
  .btn-disabled:hover{
    border: none;
    box-shadow: none;
  }

  /* Pop window */
  .btn-popup-box{
    display: flex;
    position: absolute;
    justify-content: center;
    left: 433px;
    /* right: 200px; */
    align-items: center;
    background-color: rgba(0, 0, 0, 0.619);
    padding: 0 2px;
    height: 40px;
    border-radius: 10px;
    z-index: 10000;
    width: fit-content;
  }

  .btn-popup{
    padding: 5px;
    margin: 0 2px;
    font-size: 17px;
    font-weight: bold;
    cursor:help;
    transition: 0.1s;
  }

  .btn-popup:nth-child(1){
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: green;
  }
  .btn-popup:nth-child(2){
    background-color: red;
  }
  .btn-popup:nth-child(3){
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: blue;
  }

  .btn-popup:hover ~ .btn-popup-window{
    display: block!important;
  }
  .btn-popup:hover{
    scale: 0.94;
    background-color: transparent;
  }
  
  .btn-popup-window{
    display: none;
    position: absolute;
    left: -422px;
    top: 39px;
    width: 950px;
    height: 495px;
    z-index: 5001;
  }

  .blur{
    display: none;
    top: 45px;
    z-index: 5000;
    background-color: rgba(0, 0, 0, 0.389);
    filter: blur(7px);
    -webkit-filter: blur(7px);
  }

  /* vertex */
  .vertex-box{
    display: none;
  }
  .vertex-box .vertex{
    /* display: none; */
    position: absolute;
    /* background-color: black;
    width: 20px;
    height: 20px;
    z-index: 2000;
    color: white;
    border-radius: 100vh; */
    /* left: 10px;
    top: 20px; */
  }

  #vertex1{
    left: 124px;
    top: 23px;
}
  #vertex2{
    left: 124px;
    top: 162px;
}
#vertex3{
    left: 165px;
    top: 309px;
}
#vertex4{
    left: 301px;
    top: 308px;
}
#vertex5{
    left: 684px;
    top: 31px;
}

#vertex6  {
    left: 682px;
    top: 181px;
}
#vertex7 {
    left: 427px;
    top: -16px;
}
#vertex8  {
    left: 573px;
    top: -16px;
}
#vertex9  {
    left: 437px;
    top: 307px;
}
#vertex10 {
    left: 542px;
    top: 307px;
}

.vertex-box .text{
    position: relative;
    font-size: 20px;
    font-weight: bolder;
    left: -27px;
    top: -10px;
}

.vertex-box #vertex3 .text,
.vertex-box #vertex4 .text,
.vertex-box #vertex7 .text,
.vertex-box #vertex8 .text,
.vertex-box #vertex9 .text,
.vertex-box #vertex10 .text{
    left: 0;
    top: 20px
}

.concept_development{
    display: none;
}

.btn-connections{
    display: none;
}

#overPlayerNextBtn{
    display: none;
}


/* ! conclusion class */
.conclusion{
    opacity: 0;
    font-size: 16.5px;
    background-color: #006600!important;
    color: white;
    border-radius: 14px;
    border: 4px solid #6a006a!important;
    padding: 8px;
    height: auto;
    width: 148px!important;
    text-align: left !important;
    left: 422px;
    top: -62px!important;;
    z-index: 1;
    box-shadow: 0 0px 7px 4px #eabd9a;
    font-family:  Calibri ;
}

/*! to make image pointing */
.pointer{
    cursor: pointer;
}

.load-active{
    filter: drop-shadow(2px 4px 4px black) contrast(1.7);
}
.load-deactive{
    cursor: not-allowed;
}
.btn-img{
    cursor: pointer;
    transition: 0.05s;
    z-index: 5000;
}
.btn-img:hover{
    filter: brightness(1.1) drop-shadow(1px 1px 1px black); 
    cursor: pointer;
}
.btn-img:active{
    filter: drop-shadow(0px 0px 0px black);
}